<h3>Create an Account</h3>

<form class="form-horizontal" role="form" action="/auth/local/register" method="post">
  <div class="form-group">
    <label for="inputUsername3" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputUsername3" name="username" placeholder="Username" value="">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" name="password" placeholder="Password" value="">
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" name="email" placeholder="Email" value="">
    </div>
  </div>

  <div class="form-group">
    <label for="inputFirstName3" class="col-sm-2 control-label">First Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputFirstName3" name="first_name" placeholder="First Name" value="">
    </div>
  </div>



    <div class="form-group">
        <label for="inputRole3" class="col-sm-2 control-label">Role</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputRole3" name="role" placeholder="Role" value="3">
        </div>
    </div>
    <div class="form-group">
        <label for="inputMake3" class="col-sm-2 control-label">Make</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputMake3" name="make" placeholder="Make" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="inputModel3" class="col-sm-2 control-label">Model</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputModel3" name="model" placeholder="Model" value="">
        </div>
    </div>



    <div class="form-group">
        <label for="inputYear3" class="col-sm-2 control-label">Year</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputYear3" name="year" placeholder="Year" value="20">
        </div>
    </div>
    <div class="form-group">
        <label for="inputColor3" class="col-sm-2 control-label">Color</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputColor3" name="color" placeholder="Color" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="inputBodytype3" class="col-sm-2 control-label">Bodytype</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputBodytype3" name="bodytype" placeholder="Bodytype" value="">
        </div>
    </div>

    <div class="form-group">
        <label for="inputPlate3" class="col-sm-2 control-label">Plate</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPlate3" name="plate" placeholder="Plate" value="3">
        </div>
    </div>
    <div class="form-group">
        <label for="inputState3" class="col-sm-2 control-label">State</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputState3" name="state" placeholder="State" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="inputNo3" class="col-sm-2 control-label">GarageNo</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputNo3" name="no" placeholder="No" value="">
        </div>
    </div>




    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>
</form>